@model comp2147.Models.Event

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Event Details</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <h4>@Model.Title</h4>
        <p class="text-muted">@Model.StartDate.ToString("MMMM dd, yyyy - h:mm tt")</p>
        
        <p>@Model.Description</p>
        
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn tbn-secondary">Back</a>
    </div>
</div>
